{% extends "forum/base.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
                <div class="article-metadata">
                        <a href="#"></a>
                        <h1>{{ post.title }} </h1>
                        
        </div>
        <p>By {{ post.author }} on {{ post.date_posted|date:"N j, 'y"}}</p>

        <p> {{ post.content }} </p>
    </div>
    
    </article>
    {% endfor %}
{% endblock content %}


