{% extends "forum/base.html" %}
{% block content %}
<head>
    {% load static %}  
    {{ form.media }}

</head>
    {% for post in posts %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
                <div class="article-metadata">
                    <h2>
                    <a class="article-title" href="{% url 'post-detail' post.id %}"> {{ post.title }}</a></h2>
        </div>
        <p>By {{ post.author }} on {{ post.date_posted|date:"N j, 'y"}}</p>
        {{form}}
        {{ post.content|safe }} 



        <p>{{ post.score }}</p>
      


        <a href="{% url 'post-detail' post.id %}">comment</a>
    </div>


    </article>
    {% endfor %}
{% endblock content %}


