{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    {{ form.media }}
</head>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
                <div class="article-metadata">
            <h2 class="article-title">{{ post.title }} </h2>
        </div>
        <p>By {{ post.author }} on {{ post.date_posted|date:"N j, 'y"}}</p>
        {{ post.content|safe }}
    </div>

    </article>


        <div class="media-body">            
            {% if user.is_authenticated %}
            
           
            <!-- {{ form|crispy }} -->
          
            <hr/>
            <p class='lead'>Comments</p>
            {% for comment in comments %}

            <blockquote>
                <p>{{comment.post }}</p>
                <legend>by {{ comment.author }} | </legend>
            </blockquote>
            
            {% endfor %}
            {% endif %}
        </div>

        <hr/>
        <p class='lead'>Reply</p>
        <form method="POST" action="."> 
            {% csrf_token %} 
            {{ content }}
            <br/>
            <button btn btn-outline-info type="submit" value="Post comment">Comment</button>
        </form>

{% endblock content %}


{% include 'comments.html' with url=object.slug %}
<!-- detailViews expects Object   -->

