{% extends "forum/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
                <div class="article-metadata">
            <h2 class="article-title">{{ object.title }} </h2>          
        </div>
        <p>By {{ object.author }} on {{ object.date_posted|date:"N j, 'y"}}</p>

        <p> {{ object.content }} </p>
    </div>
    
    </article>
{% endblock content %}



<!-- detailViews expects Object   -->

