{% extends "forum/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<head>
    {{ form.media }}
</head>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
        <div class="media-body">
                <div class="article-metadata">
            <h2 class="article-title">{{ post.title }} </h2>
        </div>
        <p>By {{ post.author }} on {{ post.date_posted|date:"N j, 'y"}}</p>
        {{ post.content|safe }}
    </div>

    </article>


        <div class="media-body">            
            {% if user.is_authenticated %}
            
           
            <!-- {{ form|crispy }} -->
          
            <hr/>
            <p class='lead'>Comments</p>
            {% for comment in comments %}

            <blockquote>
                <p>{{comment.post }}</p>
                <legend>by {{ comment.author }} | </legend>
            </blockquote>
            
            {% endfor %}
            {% endif %}
        </div>

        <hr/>
        <p class='lead'>Reply</p>
        <form method="POST" action="."> 
            {% csrf_token %} 
            {{ comment_form }}
            <br/>
            <button btn btn-outline-info type="submit" value="Post comment">Comment</button>
        </form>

        {{ total_likes }} Likes {{ total_likes|pluralize}}
        
        <form action="{% url 'upvote' post.id %}"  method="post">
                {% csrf_token %}
                {% if already_liked %}
                    <button type="submit" name="post_id" value='{{ post.id }}' class='btn btn-danger' />Unlike</button>
                {% else %}
                    <button type="submit" name="post_id" value='{{ post.id }}' class="btn btn-primary" />Like</button>
                {% endif %}   
            
            </form>

            <p>Total # of Comments {{ comment.count }}</p>

            <p>Comments below...</p>
            {% for comment in post.comments.all %}
            <p> {{ comment.content }} by {{ comment.author }}</p>
            {% endfor %}

{% endblock content %}

<!-- detailViews expects Object   -->

